body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #466fc9;
}

header {

    background-color: #1d2368;
    color: white;
    padding: 20px;
    text-align: center;
}

header:hover {
    background-color: #000865;
}

nav {
    display: flex;
    justify-content: center;
    background: #0c4c79;
    padding: 10px;
}



nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

#projects .project {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fafafa;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card .description {
    padding: 15px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skill {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.skill:hover {
    background-color: #146274;

}

form {
    max-width: 600px;
    margin: 0 auto;
}

form input,
form textarea,
form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}